body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}
input, textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}
button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 350px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1e4ed8;
}

.navbar {
  background: #2563eb;
  padding: 15px;
  color: white;
  text-align: center;
}
